@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    margin: 0rem;
}
:root{
    --color:#FFD55E;
    --blueColor:#3a6081;
}
.banner{
    background-color:var(--color);
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    
}
.banner__gru{
    display: initial;
    height: 6rem;
    margin-left: 1rem;
    flex-shrink: 3;
    flex-basis: auto;
}
.banner__heading{
    display: block;
    margin: auto;
    text-align: center;
    color: var(--blueColor);
    font-family: 'Nunito',sans-serif;
    flex-shrink: 3;
    flex-basis: auto;
    
}
.content{
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#text1{
    display: block;
    /* margin: auto; */
    flex-grow: 1;
    width: 20rem;
    height: 5rem;
    font-family: 'Nunito',sans-serif;
    resize: none;
    /* margin-top: 10rem; */
    padding: 1rem;
}
#text1:focus{
    outline: none !important;
    border-color:var(--color);
}



.btn-primary{
    display: block;
    flex-grow: 1;
    /* margin: auto; */
    background-color: var(--color);
    color: var(--blueColor);
    border-radius: 5px;
    width: 6rem;
    /* cvhvvmb, */
    height: 2rem;
    box-sizing: content-box;
    border-width: 2px;
    border-style:solid;
    border-color: var(--color);
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.btn-primary:hover {
    background-color: #ffffff;
    color: var(--blueColor);
    border-color: var(--color);
    cursor: pointer;
  }

.outside{
    display: flex;
    margin-top: 10rem;
}
#output{
    display: block;
    flex-grow: 1;
    margin-left: 20rem;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
    border: 1px solid black;
    border-radius: 100%;
    padding: 1rem;
}

.foot{
     position: absolute;
     flex-grow: 1;
    /* margin-left: 72vw; */
    bottom: 0;
    /* z-index: 0; */
}